* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #cbcfe7;
}

.header {
    background-color: rgb(11, 8, 51);
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(238, 202, 185);
}

.header h1 {
    display: inline-block;
    font-size: 50px;
}

.header h1 .portfolio {
    color: rgb(255, 255, 255);
}

.header navigation {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgb(238, 202, 185);
}

.header navigation ul {
    list-style-type: none;
    color: rgb(238, 202, 185);
}

.header navigation ul li {
    display: inline-block;
    margin-left: 25px;
    color: rgb(238, 202, 185);
}

.mypic {
    border-radius: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid rgb(238, 202, 185);
    border-radius: 2px;
    padding: 0px;
    width: 300px;
}

.about-me {
    background-color: rgb(11, 8, 51);
    color: seashell;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-block: 20px;
}

.about-me h2 {
    color: rgb(238, 202, 185);
    padding: 20px;
}

.work-history {
    margin-block: 20px;
    display: flex;
    background-color: rgb(11, 8, 51);
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    font-size: 25px;
    justify-content: space-evenly;
    align-items: stretch;
}

.work-history h2 {
    color: rgb(238, 202, 185);
    padding: 20px;
    align-items: flex-start;
}

.work-history ul {
    list-style-type: none;
    color: rgb(238, 202, 185);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-block: 20px;
}

.horiseonpic {
    border-radius: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid rgb(238, 202, 185);
    border-radius: 2px;
    padding: 10px;
    width: 600px;
    margin-block: 20px;
}

.portpic {
    border-radius: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid rgb(238, 202, 185);
    border-radius: 2px;
    padding: 10px;
    width: 300px;
    margin-block: 20px;
}

.pendingpic {
    border-radius: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid rgb(238, 202, 185);
    border-radius: 2px;
    padding: 0px;
    width: 300px;
    height: 184px;
    padding: 10px;
    margin-block: 20px;
}

.contact-me {
    background-color: rgb(11, 8, 51);
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(238, 202, 185);
}

.links {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.links li {
    color: rgb(255, 255, 255);
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

@media screen and (max-width: 650px) {
    body {
        text-align: justify;
    }
}